<html>
	<body>
		<h2>Petición de información desde la Web</h2>
		<h3>{{person_1.key}}</h3>
		<p>{{person_1.value}}</p>
		<h3>{{person_2.key}}</h3>
		<p>{{person_2.value}}</p>
		<h3>{{email.key}}</h3>
		<p>{{email.value}}</p>
		<h3>{{phone.key}}</h3>
		<p>{{phone.value}}</p>
		<h3>{{date.key}}</h3>
		<p>{{date.value}}</p>
		<h3>{{place.key}}</h3>
		<p>{{place.value}}</p>
		<h3>{{suppliers.key}}</h3>
		<p>{{suppliers.value}}</p>
		<h3>{{atendees.key}}</h3>
		<p>{{atendees.value}}</p>
		<h3>{{instagram.key}}</h3>
		<p>{{instagram.value}}</p>
		<h3>{{known.key}}</h3>
		<p>{{known.value}}</p>
		<h3>{{tell_more.key}}</h3>
		<p>{{tell_more.value}}</p>
	</body>
</html>