<html>
  <body>
    <h2>Petición de información desde la Web</h2>
    <p>{{person_1.key}}: {{person_1.value}}</p>
    <p>{{person_2.key}}: {{person_2.value}}</p>
    <p>{{email.key}}: {{email.value}}</p>
    <p>{{phone.key}}: {{phone.value}}</p>
    <p>{{date.key}}: {{date.value}}</p>
    <p>{{place.key}}: {{place.value}}</p>
    <p>{{suppliers.key}}: {{suppliers.value}}</p>
    <p>{{atendees.key}}: {{atendees.value}}</p>
    <p>{{instagram.key}}: {{instagram.value}}</p>
    <p>{{known.key}}: {{known.value}}</p>
    <p>{{tell_more.key}}: {{tell_more.value}}</p>
  </body>
</html>